/* Base Style */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242424;
    color: white;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

main {
    flex-grow: 1;
}

/* Header */
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #202020;
}

header div {
    position:relative;
}

header .fa-user {
    font-size: 24px;
    cursor: pointer;
}

.title-button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.title-button:hover {
    text-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

/* User Menu */
#user-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    min-width: 150px;
}

#user-menu p, 
#user-menu a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin: 5px 0;
    display: block;
}

#user-menu a:hover {
    color: #007bff;
}


/* Search Bar */
.searchbar {
    text-align: center;
    margin: 20px 0;
}

.searchbar input {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 300px;
}

.searchbar button {
    padding: 10px;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    border: none;
}

.searchbar .fa-magnifying-glass {
    margin-right: 5px;
}

/* Categories */
.categories {
    padding: 20px;
    text-align: center;
}

.categories h2 {
    margin-bottom: 20px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.category-card {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s;
    transition: transform 0.5s;
}

.category-card:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
}

.category-name {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 0 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.subcategory-list {
    margin-top: 10px;
}

.subcategory {
    font-style: italic;
    color: grey;
    font-size: 12px;
    margin-right: 5px;
}

/* About */
.about {
    text-align: center;
}

/* Subcategory Menu */
.category-menu h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.category-menu ul {
    list-style: none;
    padding: 0;
}

.category-menu ul li {
    margin-bottom: 8px;
}

.category-menu ul li a {
    text-decoration: none;
    color: #007bff;
}

.category-menu ul li a:hover {
    text-decoration: underline;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #202020;
    color: white;
    font-size: 14px;
    position: relative;
}

/* Login/Logout/Registration Style */
.login-box {
    width: 600px;
    padding: 50px;
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.login-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.two-columns .input-group {
    width: 48%;
}

.phone-group {
    display: flex;
    gap: 10px;
}

.phone-group select {
    width: 20%;
}

.phone-group input {
    width: 75%;
}

.info-message {
    font-size: 12px;
    margin-top: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    width: auto;
    display: inline-block;
}

.legal-link {
    color: blue;
    text-decoration: underline;
}

/* Error messages */
.error {
    color: red;
    font-size: 12px;
}

.required {
    color: red;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #45a049;
}

.error-messages {
    margin-bottom: 20px;
}
